html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    font-size: 14px;
    position: fixed;
    height: 40px;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    z-index: 100;
}

ul {
    list-style: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: white;
}

body {
    margin: 0px;
    padding: 0px
}

.zoom {
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
    background: url(Images/bg.jpg);
    background-size: cover;
}

.zoom:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 1000;
    background: linear-gradient(transparent, #FFF)
}

.zoom #layer1 {
    position: absolute;
    left: 40%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 10;
}

.zoom #layer2 {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 9;
}

.zoom #text {
    position: absolute;
    left: 20%;
    width: 60%;
    margin-top: 40%;

}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
}

div:nth-child(3) {
    height: 700px;
    background-image: url(Images/own/IMG_3251.JPG);
    background-attachment: fixed;
    background-size: cover;

}

div:nth-child(4) {
    background-image: url(Images/own/IMG_3258.JPG);
    background-attachment: fixed;
    background-size: cover;
}

#nz {
    height: 500px;
    margin-right: 1000px;
}

.caption {
    top: 1070px;
    left: 800px;
    width: 650px;
    height: 500px;
    position: absolute;
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: white;
    display: inline-block;
    border-radius: 25px;
}

.do {
    top: 1700px;
    left: 800px;
    width: 650px;
    height: 650px;
    position: absolute;
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: white;
    display: inline-block;
    border-radius: 25px;
}

.model {
    top: 1700px;
    right: 400px;
    height 600px;
    position: absolute;
}

.footer {
    height: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: (0, 0, 0, 0.4);
}

.footer #p{
    color: white;
}
